<nav Class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="/Welcome">Web Services</a>
      <ul class="navbar-nav me-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Lists</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/Products">Products</a></li>
            <li><a class="dropdown-item" routerLink="/Orders">Orders</a></li>
            <li><a class="dropdown-item" routerLink="/Users">Users</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/Form">Contact</a>
        </li>
      </ul>
    </div>
</nav>
